<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prompter</title>
</head>
<body>
    <h1>Prompter</h1>
    <p>Debug: {{is_debug}}</p>

    <br>

    <p>Input some text: </p>
    <form action="{{ url_for('submit') }}" method="POST">
        <textarea style="width: 80%" name="text">{{input}}</textarea>
        <br>
        <input type="submit">
    </form>

    <br>

    <p>Description Questions:</p>
    {% for prompt in prompts['description_qs'] %}
        <p> - {{prompt}}</p>
    {% endfor %}

    <br>

    <p>Emotion Questions:</p>
    {% for prompt in prompts['emotion_qs'] %}
        <p> - {{prompt}}</p>
    {% endfor %}

</body>
</html>