.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 60%;
  min-width: 45rem;
  position: sticky;
  top: 20px;
  background: #fff;

  &.disabled {
    pointer-events: none;
    filter: blur(1px);
    background: rgba(149, 157, 165, 0.2);
  }
}

.controls-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.controls-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .control-section {
    border-right: none;
    border-left: 1px solid #e2e4eb;
  }
}

.control-section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e2e4eb;
  padding: 0 10px;
  margin: 10px 0;

  .control-btn {
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #474b51;
    transition: 0.2s all ease;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active {
      background: #9e8ef6;
      color: #f8f9fa;
    }

    &.non-clickable {
      cursor: default;
    }

    &:hover {
      background: #9e8ef6;
      color: #f8f9fa;
    }
  }
}
