@import "../variables";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .login-header {
    position: absolute;
    width: 100%;
    top: 0px;
    border-bottom: 1px solid #f8f9fa;
    height: 60px;
  }

  .logo {
    top: 20px;
  }

  .button-transparent {
    background: transparent;
    border-radius: 2px;
    color: rgb(14, 16, 26);
    font-size: 17px;
    font-weight: 500;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    transition: 0.3s all ease;
    cursor: pointer;
    width: auto;
    text-decoration: none;
    position: absolute;
    top: 13px;
    right: 30px;
    z-index: 9999;

    &:hover {
      background: $primary;
      color: #f6f6f6;
    }
  }
}

.login-card {
  width: auto;
  position: relative;
  height: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);

  img {
    max-height: 500px;
  }
}

.login-left-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  overflow: hidden;
  position: absolute;
  right: 0;

  h2 {
    color: #3e3a4f;
    margin: 0;
    font-family: Roboto;
    text-align: left;
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 40px;
    width: 250px;
    strong {
      font-weight: 500;
    }
  }
}

.login-form {
  width: 250px;

  .login-inputs {
    // background: #bababf;
    border: none;
    padding: 10px;
    font-size: 15px;
    input {
      //   background: #bababf;
      font-size: 15px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      //   border: none;
      //   -webkit-text-fill-color: #fab748;
      //   -webkit-box-shadow: 0 0 0px 1000px #bababf inset;
      //   transition: background-color 5000s ease-in-out 0s;
    }

    // .anticon {
    //   color: #f9f9f9;
    // }
    .ant-input-search-icon::before {
      display: none;
    }
  }

  .login-form-button {
    font-size: 15px;
  }
}
