.logo {
  position: absolute;
  color: #f9f9f9;
  margin: 0;
  font-family: Roboto;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
  margin-left: 30px;
  border-radius: 2px;
  line-height: 19px;
  padding: 2px;
  transition: 0.2s all ease;

  strong {
    font-weight: 900;
    display: inline;
  }
}
