@import "../variables";

.writing {
  // max-width: 42rem;
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.editor {
  padding: 0 20px;
  width: 60%;
  min-width: 45rem;
}

.note-btn {
  position: absolute;
  left: 0;
  padding: 10px;
  background: #fff;
  color: #6554c0;
  width: 55px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  border-radius: 0 10px 10px 0;
  transition: 0.3s all ease;
  cursor: pointer;
  box-shadow: 6px 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 99999;

  &.active {
    left: 500px;
    animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    background: #faf9ff;
  }
}

.highlight {
  border-radius: 2px 2px 0 0;
  padding: 0 2px;
  border-bottom: 3px solid $primary;
  transition: 0.4s all ease;

  &.selected {
    background: #e7e2fd;
  }
}
